.app-info {
  background-color: #ddd;
  padding: 25px;
}
.app-info ul {
  list-style: none;
}
#container {
  padding: 10px;
}
.panel-heading {
  position: relative;
}
.panel-heading button {
  position: absolute;
  right: 3px;
  top: 3px;
}
.sign-in input {
  margin-bottom: 5px;
}
li {
  list-style: none;
}
html {
  min-height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
body > .row, .app-info {
  height: 100%;
}